body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f0e1;
}
.image_tag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_wrapper {
  height: 10%;
}
.header {
  height: 10%;
  width: 100%;
  position: fixed;
  background: #ff6e40;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > ul > li {
  display: inline;
  margin: 3px 40px;
}
a {
  color: #f5f0e1;
  text-decoration-line: none;
  font-size: 18px;
}
.main_title {
  color: #f5f0e1;
  margin-left: 100px;
  cursor: pointer;
}
.filter_sideBar {
  width: 25%;
  height: 100vh;
  position: fixed;
  background: #1e3d59;
  float: left;
}
.filter_sideBar > h1 {
  margin: 50px 0 50px 105px;
}
.filter_sideBar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.filter_sideBar > div > div {
  width: 45%;
  margin-bottom: 40px;
  border-radius: 5px;
  background: #ffc13b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 13px;
}
label {
  color: #1e3d59;
  font-weight: 900;
  font-size: 22px;
}

input[type="checkbox"] {
  display: inline-block;
}
.content {
  background: #f5f0e1;
  width: 75%;
  overflow: scroll;
  text-align: center;
  float: right;
}
#search_input {
  width: 300px;
  margin-top: 50px;
  padding-left: 10px;
  background: #ffc13b;
  color: #1e3d59 !important;
  font-weight: 600;
}
#search_btn {
  cursor: pointer;
}
.input_button {
  outline: none;
  border-radius: 5px;
  height: 30px;
  border: none;
  background: #1e3d59;
  color: #f5f0e1;
  font-size: 14px;
}
.btn {
  float: right;
  margin: 6px 10px;
}
#items_cnt {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item {
  width: 26%;
  padding: 0 0 5px 0;
  background: #ffc13b;
  border-radius: 5px;
  margin: 20px;
}
.item > div > h3,
.item > div > p {
  color: #1e3d59;
  margin: 10px 0 15px 15px;
  text-align: left;
}
.image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.noItems {
  color: red;
  font-size: 18px;
  text-align: center;
}
